.ui.small.borderless.inverted.menu {
  height: 7ex;
  margin-bottom: 0;
  border-radius: 0;
}

.ui.segment.pushable {
  height: 92vh;
  margin-top: 0;
  border-radius: 0;
  border: 0;
}

.ui.feed > .event > .content .summary {
  font-weight: normal;
}

.ui.menu .item > .label {
  margin-left: unset;
}

.hide {
  display: none !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui.popup {
  max-width: 300px;
}

.ui.feed > .event > .content > .summary > a.label {
  display: inline-block;
  /* 112px = 106px (width of September - longest month name) + 6px (margin-left) */
  max-width: calc(100% - 112px);
  vertical-align: bottom;
}

.ui.feed > .event > .content .summary > .date {
  float: right;
}
